<template>
  <div>
    <b-nav vertical>
      <b-nav-item><router-link to="/ข้อมูลอบรมสหกิจ">จัดการการอบรมสหกิจ</router-link></b-nav-item>
      <b-nav-item><router-link to="/ชั่วโมงอบรมสหกิจ">จัดการข้อมูลอบรมนิสิต</router-link></b-nav-item>
    </b-nav>
  </div>
</template>
