<template>
  <div>
    <h2 class="float-left">ข้อมูลการอบรมสหกิจ</h2>
    <b-nav-form class="float-right">
      <b-button
        variant="success"
        style="margin-right: 10px"
        @click="addNewUser()"
        >เพิ่ม</b-button
      >
      <b-input-group>
        <b-form-input v-model="search" placeholder="Search"></b-form-input>
        <b-input-group-append>
          <b-button variant="outline-success" @click="searchUser()"
            >ค้นหา</b-button
          >
        </b-input-group-append></b-input-group
      > </b-nav-form
    >

    <div class="table">
      <b-modal
        id="modal-form-user"
        ref="modal-form-user"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
        okTitle= "ตกลง"
        cancelTitle= "ยกเลิก"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="ชื่อโครงการ"
            label-for="name"
            :invalid-feedback="invalidFeedbackName"
            :valid-feedback="validFeedbackName"
            :state="stateName"
          >
            <b-form-input
              id="name"
              size="sm"
              v-model="form.name"
              :disabled="show_sts"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="ประเภทโครงการ:"
            label-for="type"
            :invalid-feedback="invalidFeedbackType"
            :valid-feedback="validFeedbackType"
            :state="stateType"
          >
            <b-form-select
              id="type"
              size="sm"
              v-model="form.type"
              :options="typeOptions"
              :disabled="show_sts"
              required
            ></b-form-select>
          </b-form-group>

          <b-form-group
            label="วันที่จัดงาน"
            label-for="date"
            :invalid-feedback="invalidFeedbackDate"
            :valid-feedback="validFeedbackDate"
            :state="stateDate"
          >
            <b-form-input
              id="date"
              type="date"
              size="sm"
              v-model="form.date"
              :disabled="show_sts"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="เวลา"
            label-for="time"
            :invalid-feedback="invalidFeedbackTime"
            :valid-feedback="validFeedbackTime"
            :state="stateTime"
          >
            <b-form-input
              id="time"
              size="sm"
              v-model="form.time"
              :disabled="show_sts"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="สถานที่"
            label-for="room"
            :invalid-feedback="invalidFeedbackRoom"
            :valid-feedback="validFeedbackRoom"
            :state="stateRoom"
          >
            <b-form-input
              id="room"
              size="sm"
              v-model="form.room"
              :disabled="show_sts"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group
            label="จำนวนชม."
            label-for="hours"
            :invalid-feedback="invalidFeedbackHours"
            :valid-feedback="validFeedbackHours"
            :state="stateHours"
          >
            <b-form-input
              id="hours"
              size="sm"
              type="number"
              min="1"
              max="24"
              v-model="form.hours"
              :disabled="show_sts"
              required
            ></b-form-input>
          </b-form-group>
        </form>

        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </b-modal>
      <b-table striped hover :items="userList" :fields="fields" id="my-table" >
        <template v-slot:cell(operation)="data">
          <!-- <b-button variant="success" size="sm" @click="check()">เช็ค</b-button> -->
          <!-- &nbsp; -->
          <b-button variant="warning" size="sm" @click="editUser(data.item)"
            >แก้ไข</b-button
          >
          &nbsp;
          <b-button variant="danger" size="sm" @click="delUser(data.item)">ลบ</b-button>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      // perPage: 3,
      // currentPage: 1,
      haveresult: true,
      say_sts: true,
      show_sts: false,
      search: null,
      title: 'เพิ่มข้อมูลอบรม',
      form: {
        _id: '',
        // id: -1,
        name: '',
        type: null,
        date: null,
        time: '',
        room: '',
        hours: ''
      },
      typeOptions: [
        { text: 'Select One', value: null },
        { value: 'วิชาการ', text: 'วิชาการ' },
        { value: 'เตรียมความพร้อม', text: 'เตรียมความพร้อม' }
      ],
      userList: [
        // {
        //   id: 1,
        //   name: 'UX/UI Design',
        //   type: 'วิชาการ',
        //   date: '2018-12-19 20:15',
        //   time: '13.00-16.00',
        //   room: 'ห้องประชุม IF-120',
        //   hours: 3
        // },
        // {
        //   id: 2,
        //   name: 'G-able',
        //   type: 'เตรียมความพร้อม',
        //   date: '2018-12-19 20:15',
        //   time: '13.00-16.00',
        //   room: 'ห้องประชุม IF-4M210',
        //   hours: 3
        // }
      ],
      lastId: 4,
      fields: [
        { key: 'id', label: 'ลำดับ' },
        { key: 'name', label: 'ชื่อโครงการ' },
        { key: 'type', label: 'ประเภทโครงการ' },
        { key: 'date', label: 'วันที่จัดงาน' },
        { key: 'time', label: 'เวลา' },
        { key: 'room', label: 'สถานที่' },
        { key: 'hours', label: 'จำนวนชม.' },
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.title = 'เพิ่มผู้ใช้ใหม่'
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขข้อมูล'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Delete ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่?', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ตกลง',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            // this.deletUser(user)
            // userService.deleteUser(user)
            axios
              .delete('http://localhost:3000/users/' + user._id)
              .then(res => {
                console.log(res)
                this.getUsers()
              })
              .catch(err => {
                console.log(err)
                console.log(user._id)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        // id: '',
        name: '',
        type: null,
        date: null,
        time: '',
        room: '',
        hours: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check Validate
      if (
        this.stateName === false ||
        this.stateType === false ||
        this.stateDate === false ||
        this.stateTime === false ||
        this.stateRoom === false ||
        this.stateHours === false
      ) {
        return
      }
      // Do when pass validation
      if (this.form._id !== '') {
        // this.updateUser(this.form)
        // userService.updateUser(this.form)
        axios
          .put('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addUser(this.form)
        // userService.addUser(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/users', this.form)
          .then(res => {
            console.log(res)
            this.getUsers()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    getUsers () {
      // this.userList = userService.getUsers()
      axios
        .get('http://localhost:3000/users')
        .then(res => {
          console.log(res)
          this.userList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    searchUser () {
      axios
        .get('http://localhost:3000/users/' + this.search)
        .then(res => {
          console.log(res)
          this.userList = []
          this.userList.push(res.data)
          this.haveresult = true
          console.log(this.haveresult)
          this.search = null
        })
        .catch(err => {
          console.log(err)
          this.search = null
          this.haveresult = false
        })
    }
    // check (user) {
    //   this.title = 'Show'
    //   this.show_sts = true
    //   this.form = { ...user }
    //   let date = new Date(this.form.date)
    //   this.form.bdate = date.toISOString().substring(0, 10)
    //   this.$bvModal.show('modal-form-user')
    // }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อบริษัทต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อบริษัท'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือกชนืดการอบรม.'
      }
    },
    validFeedbackType () {
      return this.stateType === true ? 'สำเร็จ' : ''
    },
    stateDate () {
      return this.form.date != null
    },
    invalidFeedbackDate () {
      if (this.form.date != null) {
        return ''
      } else {
        return 'ต้องใส่วันที่'
      }
    },
    validFeedbackDate () {
      return this.stateDate === true ? 'สำเร็จ' : ''
    },
    stateTime () {
      return this.form.time.length >= 1
    },
    invalidFeedbackTime () {
      if (this.form.time.length >= 1) {
        return ''
      } else {
        return 'ต้องใส่เวลาในการอบรม'
      }
    },
    validFeedbackTime () {
      return this.stateTime === true ? 'สำเร็จ' : ''
    },
    stateRoom () {
      return this.form.room.length >= 1
    },
    invalidFeedbackRoom () {
      if (this.form.room.length >= 1) {
        return ''
      } else {
        return 'ต้องใส่สถานที่อบรม'
      }
    },
    validFeedbackRoom () {
      return this.stateRoom === true ? 'สำเร็จ' : ''
    },
    stateHours () {
      return this.form.hours >= 1 && this.form.hours <= 24
    },
    invalidFeedbackHours () {
      if (this.form.hours >= 1 && this.form.hours <= 24) {
        return ''
      } else {
        return 'ต้องใส่ต้องจำนวนชั่วโมงการอบรม'
      }
    },
    validFeedbackHours () {
      return this.stateHours === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    this.getUsers()
  }
}
</script>
